.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.errorBanner {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.map {
  width: 1034.4px;
  height: 720px;
  max-width: 100%;
}

.station,
.train {
  cursor: pointer;
  outline: none;

  &:focus-visible circle:first-child {
    stroke-width: 3;
    stroke: #2196f3;
  }
}
